body{
    background: url(bckc.jpg) no-repeat;
    color: white;
}
.head h1{
    text-align: center;
    font-size: 92px;
    color: white;
}
.navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.navigation h3 {
    margin: 25px;
    font-weight: bold;
    font-size: 40px;
}
.container-tech {
    display: flex;
    
}
