body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #141313;
}

header {
    background-color: #7a7a7aef;
    color: #070707;
    padding: 1rem 0;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
}

main {
    padding: 2rem;
    text-align: center;
}

main section {
    margin: 2rem auto;
    max-width: 700px;
    text-align: left;
}

main section h1,
main section h2 {
    margin-bottom: 1rem;
    color: #383737;
    text-align: center;
}

main section p {
    color: #464646;
    max-width: 600px; 
    margin: 0 auto; 
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    
}

footer {
    background-color:#7a7a7aef;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
